.white-card{
    background-color: #ffffff;
    height:50vh;
    width:45vw;
    margin:2% 20%;
    border-radius: 20px;
    border: 2px black solid;
    margin-top:2.8vh;
    padding: 20px;
    font-size: 1.4vw;
    box-shadow: 10px 14px 1px rgba(0, 0, 0,1);
}

@media only screen and (max-width: 600px) {
  .white-card, .avtaar {
    width:50vw;
    height: max-content;
    font-size: 12px;
  }
}

.outline-div{
  display: flex;
}
.about-me{
  background-color: rgb(255, 255, 255);
    height: 100vh;
    padding-top: 100px;
    width: 100vw;
  }
  
.about-me-heading{
    color: #000000;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: League Spartan;
    font-weight: 500;
    font-size: 70px;
    opacity: 0.9;
    margin-left: 10vw;
    padding-top: 5%;
}

.avtaar{
  background-color: #ffffff;
    height:52vh;
    width: 25vw;
    margin-left: 10vw;
    margin-top:2.8vh;
    border-radius: 20px;
}

.avtar-img{
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 600px) {
  .about-me{
    margin-top: 20vh;
  }
  .avtaar{
    height:30vh;
    width: 25vw;
  }
}

