.count{
    height: 37vh;
    background-size: cover;
    position: relative;
}
.stats{
    background-image: url("../images/dot.png");
    height: 37vh;
    background-size: cover;
    position: relative;
    width: 100%;
}

.stats-row{
    align-items: center;
    /* background-color: rgb(0, 0, 0); */
    margin-left: 14%;
    width: 70vw;
    padding-top: 3%;
}

.data{
    width: 30px;
    height: 70px;
    margin-left: 13%;
    color: #dfff50;
    font-size: 2.3vw;
    text-align: center;
    /* margin-top: 95px; */ 
}
.data h1 {
    display: block;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;

} 

.data h5{
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.4vw;
    font-family: Lexend Deca;
}


.count-digits{
    color: white;
    font-family: League Spartan;
}








