.count{
    height: max-content;
    position: relative;
    padding-top: 5vh;
    background-color: black;
    height: 50vh;
    background-size: cover;
    position: relative;
    width: 100%;
    padding-top: 14vh;
    padding-bottom: 10vh;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .count {
      padding-top:2vh;
      height: 50vh;
      margin-top: 20px;
    }
    .data{
        font-size: 0.9em;
    }
  }


.stats-row{
    align-items: center;
    margin-left: 13%;
    width: 70vw;    
}

@media only screen and (max-width: 600px) {
    .stats-row{
        margin-left: 5%;
        margin-top: 3%;
    }
  }


.data{
    width: 30%;
    margin-left: 13%;
    color: #ffffff;
    text-align: center;
}
.data h1 {
    display: block;
    font-size: 5em;
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
} 

.data h5{
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.3em;
    font-family: Lexend Deca;
}

.count-digits{
    color: rgb(255, 255, 255);
    font-family: Lexend Deca;
}








