.custom-cursor {
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0; 
}

.particle {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    line-height: 20px;
    user-select: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s;
    z-index: 0; 
}

