.main{
    height: max-content;
    width: 100vw;
     margin-top: 10vh;

}
.education{
    background-color:#ffffff;
    color: #dfff50;
    
}

.col-heading-education{
    font-family: League Spartan;
    font-weight: 500;
    text-align: left;
    font-size: 6vw;
    opacity: 0.9;
    padding-left: 7%;
    padding-top: 5%;
    margin-block-start: 0;
    margin-block-end: 0;
    color: black;
    
}
/* 
.col-heading-education{
    color: #ffffff;
} */


h6,h4,h5,h3,h1,p{
    text-align: left;
    font-family: Lexend Deca;

}


.timeline-div{
    margin-top: 10vh;
    width: 70%;
    margin-left: 14%;
    background-color: white;
}


