.home-section {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    position: relative; 
}


.my-name {
    color: rgb(0, 0, 0);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 55px;
    font-weight : bold;
    margin-top: 30%;
    margin-left: 5vw;
}

.desc{
    color: black;
    font-family: Lexend Deca;
    margin-left: 5vw;
    padding-top: 1vh;
}

.typing-gif{
    width: 90%;
    height: 90%;
    margin-top: 1vh;
    /* margin-right: 10vw; */
}


.round-button{
    width: 3em;
    height: 3em;
    background-color: black;
    border-radius: 20px;
}

.icon{
    color: white;
    width: 65%;
    height: 65%;
    padding-top:0.7vh;
}

.socials{
    width:30%;
    display: flex;
    margin-left: 3.5vw;
    margin-top: 3vh;
    justify-content: space-evenly;
}


@media only screen and (max-width: 600px) {
  .socials {
    width:80%;
    margin-left: -20px;
  }
  .home-section{
    margin-top: 5vh;
    height: 70vh;
  }
  .my-name{
    line-height: 11vh;
    font-family: Lexend Deca;
  }
  .desc{
    padding-top: 2vh;
    padding-left: 1vw;
  }
  .typing-gif{
    display: none;
}
.my-name{
    margin-top: 21%;
}
}

