.main {
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.heading {
    font-family: League Spartan;
    font-weight: 500;
    text-align: left;
    font-size: 6vw;
    opacity: 0.9;
    padding-left: 80px;
    padding-top: 100px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #000000;
}


.mac-mini-div{
    width: 80%;
    height: 80%;
    float: right;
    margin-right: 10%;
    margin-top: 15%;
}

.mac-img{
    width: 100%;
    height: 100%;
}