

.carousel{
    margin-top: 10%;
   
}

.d-block{
    margin-top: 5vh;
    width: 100%;
    height: 38vh;
    border-radius: 10px;
    
}

.img{
    width: 100%;
    position: sticky;

}

/* .carousel-caption2 {
    color: black;
    background-color: black;
    margin-right: 1000px;
}

.carousel-caption3 {
    color: black;
    background-color: black;
    margin-right: 10000px;
} */