.skill-section{
    height: max-content;
    background-color: white;
    padding: 10% 0% 10% 0%;
    margin-left: 7.2vw;   
}
.skills-heading{
    font-family: League Spartan;
    font-weight: 500;
    text-align: left;
    opacity: 0.9;
    font-size: 70px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: black;
}

.skill-row{
    display: flex;
    flex-direction: column;
    gap: 1.5%;
    text-align: left;
}

.skill{
    width: max-content;
    height: 48px;
    background-color: rgb(255, 255, 255);
    font-size: 150%;
    color: rgb(0, 0, 0);
    font-family: Lexend Deca;
    border-radius: 1vh;
    margin-top: 2vh;
    border: 2px solid black;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
}

.skill:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.skill-sections{
    margin-top: 2vh;
    font-size: 150%;
}

.skill-logo{
    height: 35px;
    padding-right: 1.5vw;
    padding-top: 1vh;
}

.skill-name{
    padding-top: 1vh;
}


@media only screen and (max-width: 600px) {
    .skill{
        height: 7vh;
        width: max-content;
    }
    .skill-logo{
        height: 4vh;
        padding-right: 1.5vw;
        padding-top: 1vh;
    }
    .skill-name{
        font-size: medium;
    }
    .skill-sections{
        font-size: x-large;
    }
  }